body{
margin: 0px;
padding: 0px;
}

<<<<<<< HEAD
.header {
	width: 100%;
	font-size: 48px;
	padding-bottom: 25px;
	margin-bottom: 50px;
	border-bottom: 5px solid green;
}

.header:after {
	width: 100%;
	display: block;
	border-bottom: 5px solid blue;
	height: inherit;
}

.title {
	width: 100%;
	text-align: center;
}

.logo {
	display: flex;
	align-items: center;
}

.logo img {
	height: auto;
	width: 100px;
	margin: 0px auto;
}
=======
.photoslide{
	width: 100%;
	height: auto;
	display:table;
	margin-left: 260px;
	margin-right: 430px;
}

#thumb{
	margin-right: 10px;
	margin-bottom: 8px;
	    width: 262px;
    height: 174px;
        border-collapse: separate;
    border-spacing: 2px;


}

.carousal{
	width: 60%;
	margin: auto;
}

.intro{
	margin-left: 260px;
	margin-right: 230px;
}

>>>>>>> 9dda225e99850dbaad55bf156e643c5c12738421
