body{
margin: 0px;
padding: 0px;
}

.header {
	width: 100%;
	font-size: 48px;
	padding-bottom: 25px;
	margin-bottom: 50px;
	border-bottom: 5px solid green;
}

.header:after {
	width: 100%;
	display: block;
	border-bottom: 5px solid blue;
	height: inherit;
}

.title {
	width: 100%;
	text-align: center;
}

.logo {
	display: flex;
	align-items: center;
}

.logo img {
	height: auto;
	width: 100px;
	margin: 0px auto;
}

.photoslide{
	width: 70%;
	height: auto;
	display:flex;
	margin: 20px auto; 
	flex-wrap: wrap;
}

#thumb{
	margin: 10px;
	flex: 1;
	    width: 262px;
    height: 174px;
        border-collapse: separate;
    border-spacing: 2px;


}

.carousal{
	width: 60%;
	margin: auto;
	margin-bottom: 50px;
}

.intro{
	margin: 0px auto;
	margin-bottom: 50px;
	width: 70%;
}

