body{
margin: 0px;
padding: 0px;
}

.header {
	width: 100%;
	font-size: 48px;
	padding-bottom: 25px;
	margin-bottom: 50px;
	border-bottom: 5px solid green;
}

.header:after {
	width: 100%;
	display: block;
	border-bottom: 5px solid blue;
	height: inherit;
}

.title {
	width: 100%;
	text-align: center;
}

.logo {
	display: flex;
	align-items: center;
}

.logo img {
	height: auto;
	width: 100px;
	margin: 0px auto;
}